<!-- Header -->
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <nav class="nav flex-column pt-3">
            <a class="nav-link text-white" href="#perfil">Perfil</a>
            <a class="nav-link text-white" href="#acerca-de">Acerca de</a>
            <a class="nav-link text-white" href="#experiencia">Experiencia</a>
            <a class="nav-link text-white" href="#educacion">Educación</a>
            <a class="nav-link text-white" href="#habilidades">Habilidades</a>
            <a class="nav-link text-white" href="#proyectos">Proyectos</a>
        </nav>
    </div>
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="logos">
            <img src="https://i.imgur.com/nvftLaB.png" id="logoAp">
            <img src="https://i.imgur.com/vr6HmfC.png" id="logoInti">
        </div>
        <div class="inNav">
            <app-nav></app-nav>
        </div>
    </div>
</nav>